@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*   font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

  *{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }

  body{
    background: linear-gradient(45deg, blueviolet, lightgreen);
    min-height: 100dvh;
  }

  .conteiner{
    padding: 15px 9px;
    padding-bottom: 100px;
    max-width: 960px;
    margin: auto;
  }

  .conteiner .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10 px rgba(0,0,0,.2);
    font-size: 50px;
  }

  .conteiner .box-conteiner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
  }

  .conteiner .box-conteiner .box {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px;

  }

  .conteiner .box-conteiner .box img {
    height: 80px;
  }

  .conteiner .box-conteiner .box .h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
  }

  .conteiner .box-conteiner .box .p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
  }

  .conteiner .box-conteiner .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding:  8px 25px;
  }

  .conteiner .box-conteiner .box .btn:hover{
    letter-spacing: 1px;
  }

  .conteiner .box-conteiner .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
  }

  @media (max-width: 768px){
    .conteiner{
        padding: 20px;
    }
  }